<div class="d-flex d-md-none justify-content-center">
  <ul class="nav justify-content-center mt-1">
    <li>
      {{#link-to
        "home"
        class="nav-item btn btn-primary"
      }}
        Home
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "projects"
        class="nav-item btn btn-primary"
      }}
        Projects
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "about"
        class="nav-item btn btn-primary"
      }}
        About
      {{/link-to}}
    </li>
  </ul>
</div>

<div class="d-none d-md-block navbar-desktop">
  <ul class="list-group nav">
    <li>
      {{#link-to
        "home"
        class="list-group-item nav-item"
      }}
        <div class="d-flex flex-row justify-content-between home-link">
          <span>Home</span>
          <span class="ml-20">|></span>
        </div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "projects"
        class="list-group-item nav-item"
      }}
        <div class="d-flex flex-row justify-content-between projects-link">
          <span>
            Projects
          </span>

          <span class="ml-20">|></span>
        </div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "about"
        class="list-group-item nav-item"
      }}
        <div class="d-flex flex-row justify-content-between projects-link">
          <span>
            About
          </span>

          <span class="ml-20">|></span>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>
