<div class="d-flex d-md-none justify-content-center">
  <ul class="nav justify-content-center mt-1">
    <li>
      {{#link-to
        "home"
        class="nav-item btn btn-primary"
      }}
        Home
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "projects"
        class="nav-item btn btn-primary"
      }}
        Projects
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "about"
        class="nav-item btn btn-primary"
      }}
        About
      {{/link-to}}
    </li>
  </ul>
</div>

<div class="d-none d-md-block navbar-desktop">
  <ul class="list-group nav">
    <li>
      {{#link-to
        "home"
        class="list-group-item nav-item"
      }}
        <div
          class="d-flex flex-column align-items-center justify-content-end"
        >
          <span class="link-icon">
            <img src="{{baseIconUrl}}/home.png" alt="Home icon">
          </span>
          <p><u>H</u>ome</p>
        </div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "projects"
        class="list-group-item nav-item"
      }}
        <div
          class="d-flex flex-column align-items-center justify-content-end"
        >
          <span class="link-icon">
            <img src="{{baseIconUrl}}/applications.png" alt="Projects icon">
          </span>
          <p><u>P</u>rojects</p>
        </div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "about"
        class="list-group-item nav-item"
      }}
        <div
          class="d-flex flex-column align-items-center justify-content-end"
        >
          <span class="link-icon">
            <img src="{{baseIconUrl}}/globe.png" alt="About icon">
          </span>
          <p><u>A</u>bout</p>
        </div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to
        "blog"
        class="list-group-item nav-item"
      }}
        <div
          class="d-flex flex-column align-items-center justify-content-end"
        >
          <span class="link-icon">
            <img src="{{baseIconUrl}}/text-file.png" alt="Blog icon">
          </span>
          <p><u>B</u>log</p>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>
