<div class="d-md-none"></div>

<div class="d-none d-md-block navbar-mobile drop-shadow">
  <ul class="list-group nav">
    {{#link-to
      "home"
      class="list-group-item border border-gray nav-item"
    }}
      <div class="d-flex flex-row justify-content-between home-link">
        <span>Home</span>
        <span class="ml-20">|></span>
      </div>
    {{/link-to}}

    {{#link-to
      "projects"
      class="list-group-item border border-gray nav-item"
    }}
      <div class="d-flex flex-row justify-content-between projects-link">
        <span>
          Projects
        </span>

        <span class="ml-20">|></span>
      </div>
    {{/link-to}}
  </ul>
</div>
