<div class="card project-card elevate-1">
  <div class="card-header">
    <p>{{project.name}}</p>
  </div>

  <img
    src={{project.share_image}}
    alt={{project.name}}
    class="card-img-top"
  >

  <div class="card-body">
    <p class="card-text">
      {{project.description}}
    </p>
  </div>
</div>
