<div
  class="d-flex flex-column justify-content-start p-0 window-card"
>
  <WindowHeader
    @windowId={{this.elementId}}
    @cardBodyId="settings-body"
    @windowTitle="System Properties"
    @icon="settings"
    @showMinimizeButton={{true}}
    @showCloseButton={{true}}
  />

  <div id="settings-body" class="bg-gray m-3">
    <div class="d-flex">
      <div class="tab-filler front"></div>
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          General
        </li>
        <li class="nav-item">
          Other
        </li>
      </ul>
      <div class="tab-filler end"></div>
    </div>

    <div class="settings-body">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="mouseTrailsRadio"
          name="trailsSelector"
          class="custom-control-input"
        >
        <label
          for="mouseTrailsRadio"
          class="custom-control-label"
        >
          Turn on mouse trails
        </label>
      </div>
    </div>
  </div>
</div>
