<div
  class="d-flex flex-column justify-content-start mt-5 p-0 bg-gray border border-gray dark-shadow"
>
  <div
    class="d-flex flex-row bg-black p-1 justify-content-between border border-gray dark-shadow"
  >
    <p class="font-weight-bold text-white ml-2 mb-0">Welcome Window</p>
    <p class="bg-gray border border-gray dark-shadow text-black mb-0 px-1">X</p>
  </div>

  <div class="jumbotron bg-gray">
    <h1 class="display-3">Jon Choukroun</h1>
    <p class="lead text-blue text-center">Full stack engineer</p>
  </div>
</div>
