@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans');


// -----------------------------------------------------------------------------
// Color Variables
// -----------------------------------------------------------------------------

$brand-green: #008080;
$brand-blue: #000080;
$brand-black: #141414;
$brand-light-gray: #f8f8f8;
$brand-gray: #c0c0c0;
$brand-dark-gray: #7f787f;
$brand-white: #ffffff;


// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

h1 {
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
  transform: scaleX(1.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  color: $brand-black;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}


// -----------------------------------------------------------------------------

* {
  border-radius: 0 !important;
}

body {
  background-color: $brand-green;
}


// Buttons
.btn-primary {
  background-color: $brand-gray;
  border-color: $brand-light-gray !important;
  border-style: outset;
  border-width: 2px;
  color: $brand-black !important;
  font-weight: 200;

  @extend .drop-shadow;
  transition:
    box-shadow 300ms ease,
    transform 300ms ease,
    font-weight 100ms ease-in;
}

.btn-primary:hover {
  @extend .btn-primary;

  .btn-inner {
    border: 1px dotted $brand-black;
  }
}

.btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  @extend .btn-primary;
  background-color: $brand-gray !important;
  font-weight: 400;
  border-style: inset;

  @extend .no-shadow;
}

.btn-secondary {
  @extend .btn-primary;

  &:hover {
    border-style: inset;
    transform: translateY(0);

    @extend .no-shadow;
  }
}

.btn-inner {
  border-width: 1px;
  border-style: dashed;
  border-color: $brand-gray;
}

// Nav
.nav {
  background-color: transparent;
}

.nav-item {
  margin: 20px;
  padding: 5px 1em;
  background-color: transparent;
  border-width: 1px;
  border-color: transparent;

  p {
    color: $brand-gray;
  }

  .link-icon {
    margin-bottom: 5px;

    img {
      width: 130%;
      margin-left: -10%;
    }
  }
}

a.nav-item:hover,
a.nav-item:active,
a.nav-item:focus,
a.nav-item.active {
  background-color: transparent;
  border-color: transparent;

  p { color: $brand-white; }
}

// Shadows
.no-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.drop-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(20,20,20,1);
  -moz-box-shadow: 1px 1px 3px 1px rgba(20,20,20,1);
  box-shadow: 1px 1px 3px 1px rgba(20,20,20,1);
}

.large-shadow {
  -webkit-box-shadow: 3px 2px 15px 2px rgba(20,20,20,0.65);
  -moz-box-shadow: 3px 2px 15px 2px rgba(20,20,20,0.65);
  box-shadow: 3px 2px 15px 2px rgba(20,20,20,0.65);
}
