// -----------------------------------------------------------------------------
// Color classes
// -----------------------------------------------------------------------------

// Backgrounds
.bg-black {
  background-color: $brand-black;
}

.bg-blue {
  background-color: $brand-blue;
}

.bg-gray {
  background-color: $brand-gray;
}

// Border classes
.border-gray {
  border-color: $brand-gray !important;
  border-style: outset !important;
}

// Text classes
.text-black {
  color: $brand-black;
}

.text-blue {
  color: $brand-blue;
}

.text-gray {
  color: $brand-gray !important;
}

.text-light {
  color: $brand-light-gray !important;
}

.text-white {
  color: $brand-white !important;
}


// -----------------------------------------------------------------------------
// Sizing & Spacing
// -----------------------------------------------------------------------------

// Margins & Padding
@for $i from 6 through 200 {
  .m-#{$i} { margin: #{$i}px; }
  .p-#{$i} { padding: #{$i}px; }

  .mx-#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .ml-#{$i} { margin-left: #{$i}px; }
  .mr-#{$i} { margin-right: #{$i}px; }

  .px-#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .pl-#{$i} { padding-left: #{$i}px; }
  .pr-#{$i} { padding-right: #{$i}px; }

  .my-#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .mt-#{$i} { margin-top: #{$i}px; }
  .mb-#{$i} { margin-bottom: #{$i}px; }

  .py-#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .pt-#{$i} { padding-top: #{$i}px; }
  .pb-#{$i} { padding-bottom: #{$i}px; }
}

// Height & Widths
@for $i from 1 through 100 {
  .w-#{$i} { width: percentage($i / 100); }

  .h-#{$i} { height: percentage($i / 100); }
}

// Z-index
@for $i from 1 through 10 {
  .elevate-#{$i} { z-index: $i * 1000; }
}
