.draggable-card {
  width: 30vw;
  position: absolute;
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.project-card {
  @extend .window-card;

  .card-body {
    padding: 1rem;
  }
}

.img-inset {
  border: 2px inset $brand-gray;
}
