.draggable-card {
  width: 80vw;
  position: absolute;
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.project-card {
  @extend .window-card;

  .card-body {
    padding: 1rem;
  }
}

.img-inset {
  border: 2px inset $brand-gray;
}

@media (min-width: 992px) {
  .draggable-card {
    width: 30vw;
  }
}
