.projects-board {
  position: absolute;
  top: 1vh;
  right: 0;
  bottom: 1vh;
  left: 0;
  z-index: 0;

  .non-drag-text {
    display: block;
  }

  .drag-text {
    display: none;
  }
}

.dragged-over {
  background-color: rgba(0,0,0,0.2);
  border: 1px dashed $brand-gray;

  .non-drag-text {
    display: none;
  }

  .drag-text {
    display: block;
  }
}

@media (min-width: 768px) {
  .projects-board {
    left: 10vw;
    right: 10vw;
  }
}
