.window {
  background-color: $brand-gray;
  border: 2px outset $brand-gray;
  @extend .drop-shadow;
}

.window-card {
  width: 100%;
  margin: 1px;
}

.inner-panel {
  margin: 5px 3px 3px;
  padding: 2.5px 5px;
  background-color: $brand-white;
  border-width: 2px;
  border-style: inset;
  border-color: $brand-gray;
}
